# Azure Credentials
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_SUBSCRIPTION_ID=
ARM_TENANT_ID=

# Network Configuration
VNET_ADDRESS_SPACE=

# Demo Configuration
JIRA_ADMIN_EMAIL=
CROWDSTRIKE_API_KEY=
MCP_SERVER_COUNT=2
